#!/bin/bash
MIRROR_DIR=/mnt/mirrors
GIT_DIR=/mnt/mirrors/git-repos
## Distros ##
# Debian
DEBIAN_MIRROR_DIR=$MIRROR_DIR/debian
DEBIAN_MIRROR_URL=
# Ubuntu
UBUNTU_MIRROR_DIR=$MIRROR_DIR/ubuntu
UBUNTU_MIRROR_URL=
# CentOS
CENTOS_MIRROR_DIR=$MIRROR_DIR/centos
CENTOS_MIRROR_URL=
# Fadora
FEDORA_MIRROR_DIR=$MIRROR_DIR/fedora
FEDORA_MIRROR_URL=
# Gentoo
GENTOO_MIRROR_DIR=MIRROR_DIR/gentoo
GENTOO_MIRROR_URL=
# Archlinux
ARCH_MIRROR_DIR=$MIRROR_DIR/archlinux
ARCH__MIRROR_URL=
# Slackware
SLACK_MIRROR_DIR=$MIRROR_DIR/slackware
SLACK_MIRROR_URL=
SBO_MIRROR_DIR=$MIRROR_DIR/slackbuilds
SBO_MIRROR_URL=
SBO_GIT_DIR=$GIT_DIR/slackbuilds
SBO_GIT_URL=

## Kernel.org ##
KERNEL_MIRROR_DIR=$MIRROR_DIR/kernel
KERNEL_MIRROR_URL=
KERNEL_GIT_DIR=$GIT_DIR/kernel
KERNEL_GIT_URL=

## Live Distros ##
# Porteus
PORTEUS_MIRROR_DIR=
PORTEUS_MIRROR_URL=
# Backtrack
BACKTRACK_MIRROR_DIR=
BACKTRACK_MIRROR_URL=
# more?

